@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background: linear-gradient(#2b1055, #7597de);
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 60px;
    /* background: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo img {
    width: 80px;
}

.navigation a {
    position: relative;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    margin-left: 20px;
    padding: 3px 12px;
    transition: 0.5s;
    /* background: yellowgreen; */

}

.navigation a:hover,
.navigation a.Active {
    color: #333;
}

.navigation a span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 30px;
    z-index: -1;
    transform: scale(0);
    transition: 0.5s;
    opacity: 0;
}

.navigation a:hover span,
.navigation a.Active span {
    transform: scale(1);
    opacity: 1;
}

.parallex {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.parallex::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    z-index: 1000;
    background: linear-gradient(to top, #1c0522, transparent);
}

#text0 {
    /* transform: translateYX(-50px); */
    transform: translateY(-50px);
    position: absolute;
    white-space: nowrap;
    font-size: 1em;
    color: #fff;
    text-shadow: 2px 4px 5px #b7b7b7;
    z-index: 9;
}

#text {
    position: absolute;
    white-space: nowrap;
    font-size: 3em;
    color: #fff;
    text-shadow: 2px 4px 5px #b7b7b7;
    z-index: 9;

}

#text1 {
    position: absolute;
    white-space: nowrap;
    padding-left: 25em;
    font-size: 3em;
    color: #fff;
    text-shadow: 2px 4px 5px #b7b7b7;
    z-index: 9;
}

.parallex img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.parallex img#moon {
    mix-blend-mode: screen;
}

.parallex img#mountains_front {
    z-index: 10;
}

#btn {
    text-decoration: none;
    display: inline-block;
    padding: 4px 15px;
    border-radius: 40px;
    background: #e6e6e6;
    color: #2b1055;
    font-size: 0.8em;
    font-weight: 600;
    z-index: 9;
    transform: translateY(100px);
}

#btn:hover {
    background: #ab7df5;
    box-shadow: 0px 0px 20px #ab7df5;
}






/* --------------------------------------------------------------- */






#about {
    /* height: 2500px; */
    width: 100%;
    /* background-color: #00ddff; */
    padding: 10px;
    position: relative;
    background: #1c0522;
}





.row1 {
    /* background-color: #235e69; */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 920px;
    padding: 10px;

}

.col1 {
    /* background-color: #ff1d58; */
    height: 600px;
    width: 40%;
    /* background-color: #ff1d58; */
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;

}

.col1 img {
    height: 400px;
    border-radius: 320px;
}


.col2 {
    /* background-color: #fff685; */
    padding: 10px;
    height: 1200px;
    width: 60%;
    /* background-color: #ff1d58; */

}

.col2 h1 {
    width: 100%;
    padding-bottom: 40px;
    font-size: 2em;
    color: #fff;
    text-shadow: 2px 4px 5px #b7b7b7;
}

.col2 p {
    font-size: 18px;
    padding: 5px 10px;
    line-height: 30px;
    color: #c6c5c5;
    text-align: justify;
}

.tab-titles {

    display: flex;
    margin: 20px 0px 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: rgb(75, 53, 246);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-links::after {
    width: 50%;
    margin-left: 11px;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 10px;
    font-size: 18px;
    color: #8ab5e6;
}

.tab-contents ul li span {
    color: #41b88c;
    font-size: 15px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

.experience {}

.experience h2 {
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
    /* position: absolute; */
    /* white-space: nowrap; */
    font-size: 2em;
    color: #fff;
    text-shadow: 2px 4px 5px #b7b7b7;
}

.field {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.field1 {
    padding: 15px 30px;
    border: 1px solid rgb(116, 116, 116);
    border-radius: 10px;
    transition: 0.5s;
}

.field1:hover {
    border: 1.2px solid #fff;
}

.field1 h3 {
    text-align: center;
    color: #8ab5e6;
}


.part1 {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}

.skill {
    padding: 10px 20px;
    color: #41b88c;
    /* background-color: #41b88c; */
}

.skill i {
    padding: 5px;
}

.skill p {
    /* margin-left: 30px; */
    padding-left: 30px;
}

.part2 {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}

.part2 p {
    /* margin-left: 40px; */
    padding-left: 30px;
}

.sk2 {
    padding-left: 40px;
}

.field2 {
    padding: 15px 30px;
    border: 1px solid rgb(116, 116, 116);
    border-radius: 10px;
    transition: 0.5s;
}

.field2:hover {
    border: 1.2px solid #fff;
}

.field2 h3 {
    text-align: center;
    color: #8ab5e6;
}


.sk3 {
    padding-left: 47px;
}

/* -------------------------Projects------------------------------ */

#portfolio {
    padding: 50px;
    background: #1c0522;
}

#portfolio p {
    padding-top: 50px;
    text-align: center;
    color: #fff;
    text-shadow: 2px 4px 5px #b7b7b7;
}

#portfolio h1 {
    width: 100%;
    text-align: center;
    /* padding-bottom: 20px; */
    font-size: 2.5em;
    color: #fff;
    text-shadow: 2px 4px 5px #b7b7b7;
}


.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    /* background-color: #235e69; */
}

.work img {
    height: 280px;
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    /* background-color: #a1143a; */
}

.layer {
    width: 100%;
    height: 0px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #41b88c);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 15px;
    transition: height 0.5s;
    /* background-color: #fff685; */
}

.layer h3 {
    font-weight: 500;
    /* margin-bottom: 10px; */
    color: #fff;
}

.layer a {
    margin-top: 20px;
    color: #41b88c;
    text-decoration: none;
    font-size: 18px;
    line-height: 50px;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
}


.work:hover img {
    transform: scale(1.1);
    cursor: pointer;

}

.work:hover .layer {
    height: 100%;
    cursor: pointer;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #41b88c;
    padding: 10px 40px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
    font-size: 20px;
}

.btn:hover {
    background: #3d67ab;

}


/* -------------------------- contact --------------------------- */

#contact {
    background: #1c0522;
}

.row {
    /* background-color: #235e69; */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* height: 600px; */
    padding: 10px;
    align-items: center;

}

.contact-left {
    /* background-color: #00ddff; */
    flex-basis: 20%;
    /* height: 400px; */
}

.contact-left h1 {
    width: 100%;
    text-align: center;
    /* padding-bottom: 20px; */
    font-size: 2.5em;
    color: #fff;
    text-shadow: 2px 4px 5px #b7b7b7;
}

.contact-right {
    /* background-color: #ff1d58; */
    flex-basis: 50%;
    display: inline;
}

.contact-left a {
    text-decoration: none;
    color: white;
}

.contact-left p {

    margin-top: 30px;
    text-decoration: none;
    color: #fff;
}

.contact-left p a {
    transition: transform 0.5s;
}

.contact-left p a:hover {
    color: #41b88c;
    transform: translateY(-5px);
}

.contact-left p i {
    color: #41b88c;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #0062ff;
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block;
    background: #0062ff;
    font-size: 15px;
}

.contact-right form {
    width: 100%;

}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #1c0522;
    font-weight: 300;
    margin-top: 20px;

}

.copyright p {
    color: #fff;
}












/* -------------- For Mobile View --------------------- */


@media screen and (max-width:600px) {

    #about {
        width: 100%;
        /* background-color: #00ddff; */
        padding: 10px;
        position: relative;
        background: #1c0522;
    }
    .row1 {
        /* background-color: #235e69; */
        width: 100%;
        display: inline;
        /* display: flex;
        justify-content: space-evenly; */
        height: 1520px;
        padding: 10px;

    }

    .col1 {
        /* background-color: #ff1d58; */
        height: 230px;
        width: 100%;
        /* background-color: #ff1d58; */
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;

    }

    .col1 img {
        height: 200px;
        border-radius: 320px;
    }


    .col2 {
        /* background-color: #fff685; */
        padding: 10px;
        height: 1200px;
        width: 100%;
        /* background-color: #ff1d58; */

    }

    .col2 h1 {
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
        font-size: 1em;
        color: #fff;
        text-shadow: 2px 4px 5px #b7b7b7;
    }

    .col2 p {
        font-size: 0.8rem;
        padding: 5px 10px;
        line-height: 30px;
        color: #c6c5c5;
        text-align: justify;
    }

    .tab-titles {

        display: flex;
        margin: 20px 0px 40px;
    }

    .tab-links {
        margin-right: 50px;
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;
        position: relative;
    }

    .tab-links::after {
        content: '';
        width: 0;
        height: 3px;
        background: rgb(75, 53, 246);
        position: absolute;
        left: 0;
        bottom: -8px;
        transition: 0.5s;
    }

    .tab-links.active-links::after {
        width: 50%;
        margin-left: 11px;
    }

    .tab-contents ul li {
        list-style: none;
        margin: 10px 10px;
        font-size: 0.8rem;
        color: #8ab5e6;
    }

    .tab-contents ul li span {
        color: #41b88c;
        font-size: 15px;
    }

    .tab-contents {
        display: none;
    }

    .tab-contents.active-tab {
        display: block;
    }
    
    .experience h2 {
        width: 100%;
        height: 100%;
        text-align: center;
        padding-bottom: 20px;
        /* position: absolute; */
        /* white-space: nowrap; */
        font-size: 0.8rem;
        color: #fff;
        text-shadow: 2px 4px 5px #b7b7b7;
    }
    
    .field {
        display: inline;
    }
    
    .field1 {
        padding: 5px 10px;
        border: 1px solid rgb(116, 116, 116);
        border-radius: 10px;
        transition: 0.5s;
    }
    
    .field1:hover {
        border: 1.2px solid #fff;
    }
    
    .field1 h3 {
        text-align: center;
        color: #8ab5e6;
    }
    
    
    .part1 {
        display: flex;
        /* align-items: center; */
        /* justify-content: center; */
    }
    
    .skill {
        padding: 10px 20px;
        color: #41b88c;
        /* background-color: #41b88c; */
    }
    
    .skill i {
        padding: 5px;
    }
    
    .skill p {
        /* margin-left: 30px; */
        padding-left: 30px;
    }
    
    .part2 {
        display: flex;
        /* align-items: center; */
        /* justify-content: center; */
    }
    
    .part2 p {
        /* margin-left: 40px; */
        padding-left: 30px;
    }
    
    .sk2 {
        padding-left: 40px;
    }
    
    .field2 {
        padding: 15px 30px;
        border: 1px solid rgb(116, 116, 116);
        border-radius: 10px;
        transition: 0.5s;
    }
    
    .field2:hover {
        border: 1.2px solid #fff;
    }
    
    .field2 h3 {
        text-align: center;
        color: #8ab5e6;
    }
    
    
    .sk3 {
        padding-left: 47px;
    }
}